@import url('https://fonts.googleapis.com/css2?family=Nosifer:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Nosifer', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #fa7d67 1.84%, #cb1111 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #c20000 -13.86%, #f48167 99.55%);
  
  --color-bg: #000000;
  --color-footer : #e12a2a;
  --color-blog: #042c54;
  --color-text: #d03131;
  --color-subtext: #910707;
}
